<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="PMEntities" connectionString="metadata=res://*/PM_EDMX.PMTools.csdl|res://*/PM_EDMX.PMTools.ssdl|res://*/PM_EDMX.PMTools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC313026\SQLEXPRESS;initial catalog=PMTools;persist security info=True;user id=sa;password=Cognizant#@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>